---
import Layout from "../../layouts/Layout.astro";
import Header from "../Main/Header.astro";
import Hero from "../Main/Hero.astro";
import About from "../Main/About.astro";
import Speakers from "./Speakers/Speakers";
import Schedule, { getProgram } from "./Schedule/Schedule.astro";
import Sponsors from "./Sponsors/Sponsors";
import FAQ from "./FAQ/FAQ";
import Contact from "../Contact.astro";
import Footer from "../Footer.astro";
import { getLangFromUrl } from "../../i18n/utils";

const year = "2024";
const language = getLangFromUrl(Astro.url);
const program = await getProgram(year, language);
---

<style>
  .main {
    height: 100%;
    width: 100%;
    background-color: white;
  }
</style>

<Layout title="Bergen Open Source-konferanse">
  <!-- env insertion point is where Environment variables for the docker image will be inserted -->
  <noscript id="env-insertion-point"></noscript>
  <div class="main">
    <Hero year={year} language={language} />
    <About />
    <Speakers />
    <Schedule year={year} language={language} withTitle />
    <Sponsors sponsors={program.sponsors} />
    <FAQ />
    <Contact />
  </div>
</Layout>
